* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.block {
  max-width: 800px;
  margin: auto;
  padding: 15px;
}
.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.col-4 {
  flex: 0 0 auto;
  width: 23%;
  padding: 0 15px;
  border: 3px solid #333;
  margin: 10px;
  height: 100px;
  color: white;
  font-size: 24px;
  background-color: red;
    
}
  

.col-sm-12{
  background-color: brown;
}

.col-md-12{
  background-color: yellow;
}

@media (min-width: 576px) and (max-width: 991px) {
  .col-6 {
    width: 44%;
  }
  .col-md-12 {
    width: 91%;
  }
}
@media (max-width: 575px) {
  .col-sm-12 {
    width: 90%;
  }
  .col-sm-12:last-child {
    height: 30px;

  }
  

}
.text-center {
  text-align: center;
  
  
}
.text-end {
  text-align: end;
  color: black;
}
